/* Size for brand */
nav .navbar-brand
{
    font-size: xx-large;
}

table {
    margin: auto;
    width: 80%;
    border-collapse: collapse;
}

th {
    text-align: center;
    padding: 10px;
    border-bottom: 2px solid #ddd;
}

td {
    text-align: center;
    padding: 10px;
    border-bottom: 1px solid #ddd;
}

table, th, td {
    border: 1px solid #ddd;
}
