{% extends "template.html" %}

{% block title %}
    Items
{% endblock %}

{% block main %}

<script>
    // TODO THIS COULD BE TURNED INTO ASYNC AWAIT
    let notificationTimeout;

    function addToCart(vendor, name, stock, price) {
        fetch('/add_to_cart', {
            method: 'POST',
            headers: {
                'Content-Type': 'application/json'
            },
            body: JSON.stringify({
                store_name: vendor,
                item_name: name,
                stock: stock,
                price: price
            })
        })
        .then(response => {
            if (response.ok) {
                showNotification(name);
            }
        })
        .catch((error) => {
            console.error('Error:', error);
        });
    }

    function showNotification(itemName) {
        const notification = document.getElementById('notification');
        const message = document.getElementById('notification-message');
        
        // Clear any existing timeout
        clearTimeout(notificationTimeout);
        
        message.textContent = `${itemName} added to cart!`;
        notification.style.display = 'block'; // Show notification

        // Hide after 2 seconds
        notificationTimeout = setTimeout(() => {
            notification.style.display = 'none'; // Hide after 2 seconds
        }, 2000);
    }
</script>

<div id="notification" style="display:none; background-color:rgba(0, 123, 255, 0.8); color:white; padding:5px; border-radius:5px;">
    <span id="notification-message">Item added to cart!</span>
</div>

<div class="container">
    {% if items %}
    <h1 class="my-4">Items</h1>
    <div class="row">
        {% for item in items %}
            <div class="col-md-3 mb-3">
                <div class="card">
                    <img src="/static/placeholder.png" class="card-img-top" style="height: 150px; object-fit: contain; width: 100%;" alt="placeholder cardboard box">
                    <div class="card-body">
                        <h6 class="card-text">Vendor: {{ item.store_name }}</p>
                        <h6 class="card-title">Name: {{ item.item_name }}</h5>
                        <p class="card-text">Stock: {{ item.stock }}</p>
                        <p class="card-text"><strong>${{ item.price }}</strong></p>
                        <a class="btn btn-primary" onclick="addToCart('{{ item.store_name }}', '{{ item.item_name }}', '{{ item.stock }}', '{{ item.price }}')">Add to Cart</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
    {% else %}
    <h1 class="my-4">Item not found!</h1>
    {% endif %}
</div>
    


{% endblock %}