<!DOCTYPE html>

<html lang="en">

    <head>

        <meta charset="utf-8">
        <meta name="viewport" content="initial-scale=1, width=device-width">

        <!-- http://getbootstrap.com/docs/5.3/ -->
        <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>

        <link href="/static/market.png" rel="icon">

        <link href="/static/styles.css" rel="stylesheet">

        <title>SwiftMarket: {% block title %}{% endblock %}</title>
        
        <script>
            function updateAction() {
                const form = document.getElementById('searchForm');
                const searchType = document.getElementById('searchType').value;
                form.action = `/${searchType}`; // setting the action based on the selected option
            }
        </script>

    </head>
    
    <body style="background-color: #efefef;">
        <nav class="bg-dark navbar navbar-expand-md navbar-dark">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">Swift Marketplace</a>
                <button aria-controls="navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler" data-bs-target="#navbar" data-bs-toggle="collapse" type="button">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbar">
                    {% if session["user_id"] %}
                        <ul class="navbar-nav me-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/items">Items</a></li>
                            <li class="nav-item"><a class="nav-link" href="/vendors">Vendors</a></li>

                            <form id="searchForm" class="form-inline my-2 my-lg-0" action="" method="POST" onsubmit="updateAction()">
                                <div class="input-group">
                                    <select class="custom-select bg-dark text-light border-light rounded-pill" id="searchType" name="type" onchange="updateAction()">
                                        <option value="vendors" selected>Search Vendors</option>
                                        <option value="items">Search Items</option>
                                    </select>
                                    <input class="form-control bg-light text-dark border-light rounded-pill" type="search" placeholder="Search" aria-label="Search" name="name" required>
                                    <div class="input-group-append">
                                        <button class="btn btn-outline-success" type="submit">Search</button>
                                    </div>
                                </div>
                            </form>
                        </ul>
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/logout">Log Out</a></li>
                        </ul>
                    {% else %}
                        <ul class="navbar-nav ms-auto mt-2">
                            <li class="nav-item"><a class="nav-link" href="/register">Register</a></li>
                            <li class="nav-item"><a class="nav-link" href="/login">Log In</a></li>
                        </ul>
                    {% endif %}
                </div>
            </div>
        </nav>


        {% if get_flashed_messages() %}
                <header>
                    <div class="alert alert-primary mb-0 text-center" role="alert">
                        {{ get_flashed_messages() | join(" ") }}
                    </div>
                </header>
        {% endif %}

        <main class="container py-5 text-center">
            {% block main %}{% endblock %}
        </main>
    </body>
    